<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>ToDoList自定义局部组件</title>
		<script src="./vue.js"></script>
	</head>
	<body>
		<div id="test">
			<!--v-model双向数据绑定,将input的value值与data下的inputValue值绑定，只要一个变了另外一个也跟着变-->
			<input type="text" v-model="inputValue"/> 
			<!--<button v-on:click="handleBtnClick">提交</button> --><!--v-on:绑定一个事件-->
			<button @click="handleBtnClick">提交</button> <!--v-on:也可以用@替换，绑定一个事件-->
			<ul>
				<!--通过v-for决定要循环的todo-item的组件个数，同时通过循环将item的值用v-bind传给了
				todo-item这个子组件，子组件想要使用父组件传递过来的值，一定要使用props对content进行接收
				接收完之后就可以在模板中使用了-->
				<todo-item1 v-bind:content="item"
					       v-for="item in list">
				</todo-item1>
			</ul>
		</div>
		<script>
//			Vue.component("TodoItem",{ //定义一个全局组件todo-item
//				//子组件想要使用父组件传递过来的值，一定要使用props对content进行接收
//				//接收完之后就可以在模板中使用了
//				props:['content'],
//				template:"<li>{{content}}</li>",
//			})
           //定义一个局部组件
			var TodoItem = {
				props:['content'], //接收外部传递过来的数据
				template:"<li>{{content}}</li>", //组件模板
			}
			var app = new Vue({
				el:'#test',
				components:{  //将局部组件在实例中注册，右边的原组件名可以注册为左边的组件名TodoItem1
					TodoItem1:TodoItem
				},
				data:{
					list:[],
					inputValue:''
				},
				methods:{
					handleBtnClick:function(){
						this.list.push(this.inputValue)
						//添加完数据后将input输入框的数据清除,利用双向绑定远离,将data下的inputVaue设置为空,这输入框也为空了
						this.inputValue=''
					}
				}
			})
		</script>
	</body>
</html>
